::before,
::after {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.main-page{
    display: grid;
    place-content: left;
}

.box-container{
    width: 20rem;
    height: 30rem;
    background-color: #ffffff;
    border-radius: 2rem;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.2);
    padding: 3rem;
    text-align: center;
    font-family: 'Flamenco', cursive;
    position: absolute;
    left: 5%;
    top: 5%;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: transform 4s;
}

.controls{
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 4rem;
}



#con{
    width: 400px;
    height: 100px;
    background-color: rgba(0,0,0,0.0);;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.wave{
    width: 1rem;
    height: 4rem;
    background-color: #4bcffa;
    margin: 0 5px;
    border-radius: 40px;
    animation: waves 1s linear infinite ;
}

@keyframes waves {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.wave:nth-child(2){
    animation-delay: 0.1s;
}
.wave:nth-child(3){
    animation-delay: 0.2s;
}
.wave:nth-child(4){
    animation-delay: 0.3s;
}
.wave:nth-child(5){
    animation-delay: 0.4s;
}
.wave:nth-child(6){
    animation-delay: 0.5s;
}
.wave:nth-child(7){
    animation-delay: 0.6s;
}
.wave:nth-child(8){
    animation-delay: 0.7s;
}
.wave:nth-child(9){
    animation-delay: 0.8s;
}
.wave:nth-child(10){
    animation-delay: 0.9s;
}
.wave:nth-child(11){
    animation-delay: 0.10s;
}


.select{
    border: 2px solid black;
    width: 400px;
    height: 100vh;
    position: absolute;
    left: 10%;
    top: 20%;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 16px 7px;
    opacity: 0.6;
}

.song{
    height: 0px;
    display: grid;
    border: 1px;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: right;
}
